.bell-outline{
    width: 24px;
    height: 24px;
    background-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    content: url(../../../assets/images/bell-outline.svg);
}

.header,
.header nb-actions,
.header nb-actions{
    height: 100%;
}